<mat-toolbar color="primary" class="mat-elevation-z6">
  <div class="container">
    <span class="brand">Sistema de Usuários</span>
    <span class="spacer"></span>

    <span class="username-display">
      <mat-icon>person</mat-icon>
      {{ username }}
    </span>

    <ng-container *ngIf="userRole === 'ROLE_ADMIN'">
      <button mat-button routerLink="/admin" routerLinkActive="active" class="nav-button">
        <mat-icon>dashboard</mat-icon>
        <span class="button-text">Dashboard</span>
      </button>
      <button mat-button routerLink="/usuarios" routerLinkActive="active" class="nav-button">
        <mat-icon>people</mat-icon>
        <span class="button-text">Usuários</span>
      </button>
    </ng-container>

    <ng-container *ngIf="userRole === 'ROLE_USER'">
      <button mat-button routerLink="/user" routerLinkActive="active" class="nav-button">
        <mat-icon>person</mat-icon>
        <span class="button-text">Minha Área</span>
      </button>
    </ng-container>

    <button mat-button (click)="logout()" class="logout-button">
      <mat-icon>exit_to_app</mat-icon>
      <span class="button-text">Sair</span>
    </button>
  </div>
</mat-toolbar>